@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO PROGRAMADOR!</h1>
    <p>Um mundo de conhecimento <a href="https://portal.sc.senac.br/">Bem vindo ao SENAC</a>.</p>
</div>
<button type="button" class="btn">teste 1</button>
<button type="button" class="btn">teste 2</button>
<button type="button" class="btn btn-primary">Primary</button>