@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO PROGRAMADOR!</h1>
    <p>
        Um mundo de conhecimento!! Bem vindo ao SENAC!<a href="https://portal.sc.senac.br/"></a>.
    </p>
</div>


O <strong><mark>JOVEM PROGRAMADOR</mark></strong> é um <strong>PROGRAMA</strong> de capacitação tecnológica para formação de jovens a partir de 16 anos para atuar em empresas
    do Estado de Santa Catarina, independentemente do local onde estejam instaladas.
<br>
<br>
O curso permite que jovens possam se capacitar em Tecnologia da Informação através do parceiro de ensino,
o Senac SC - Serviço Nacional de Aprendizagem Comercial - que dispõe de ampla experiência na área de formação e capacitação de
profissionais e disponibilizará as instalações em aproximadamente 20 municípios de Santa Catarina.
<br>
<br>
Os jovens contam com toda infraestrutura técnica e aulas de forma híbrida - online e presencial.

A empregabilidade é o foco do PROGRAMA, que não mede esforços para gerar aos alunos a oportunidade de conseguir uma boa colocação
no mercado de trabalho, especialmente nas empresas patrocinadoras e parceiras. O objetivo é proporcionar aos alunos ensino de qualidade,
com metodologia e desenvolvimento de habilidades alinhadas às reais necessidades do setor de tecnologia.
<br>
<br>
<strong><mark>Em 2023, o PROGRAMA se destina a jovens:</mark></strong>
<br>
<br>
Com idade mínima de 16 anos:
<br>
Escolaridade mínima: cursando o ensino médio
<br>
Que residam nas cidades beneficiadas pelo programa ou em cidades vizinhas
<br>
<br>
O PROGRAMA é de iniciativa do SEPROSC (Sindicato das Empresas de Informática, Processamentos de Dados e Tecnologia da Informação do Estado de Santa Catarina) e realização do SENAC SC.
<br>
<br>
Para a edição de 2023, o Jovem Programador estará nas seguintes cidades catarinenses:
<br>
<br>
<strong>Araranguá, Blumenau, Brusque, Caçador, Chapecó, Concórdia, Criciúma, Florianópolis, Jaraguá do Sul, Joaçaba, Joinville, Lages, Palhoça, Rio do Sul, São Miguel do Oeste, Tubarão, Videira e Xanxerê.</strong>
<br />
</p>
</html>
<br />
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.jovemprogramador.com.br/_banners/648867e574153.jpg" class="d-block w-100" alt="100" />
        </div>
        <div class="carousel-item">
            <img src="https://cdn.deolhonailha.com.br/wp-content/uploads/2021/07/imagem46438_1.jpg" class="d-block w-100" alt="100">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.ocp.news/2022/04/Imprensa-2a-Edic-807a-771o-Jovem-Programador.jpg" class="d-block w-100" alt="100">
        </div>
        <div class="carousel-item">
            <img src="https://www.seprosc.com.br/_blog/e0b4168d541d1dde812ab095c3c4ad84.jpg" class="d-block w-100" alt="100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<button type="button" class="btn">Informações</button>
<button type="button" class="btn">teste 2</button>
<button type="button" class="btn btn-primary">Primary</button>