@model Endereco



<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Logradouro: @Html.DisplayFor(endereco => endereco.logradouro)</p>
                <p>Bairro: @Html.DisplayFor(endereco => endereco.bairro)</p>
                <p>Localidade: @Html.DisplayFor(endereco => endereco.localidade)</p>
                <p>UF: @Html.DisplayFor(endereco => endereco.uf)</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Fechar</a>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
    </script>
}