<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
            <th scope="col">CPF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Juliano</td>
            <td>8855</td>
            <td>885.479.883-97</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Pedro Manco</td>
            <td>7788</td>
            <td>047.379.853-97</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mévio</td>
            <td>2324</td>
            <td>005.998.798-92</td>

        </tr>
    </tbody>
</table>