


<html>

<p style="text-align:justify;">
    <strong>OLÁ TUDO BEM! </strong>
    <br><br>
    @*
    O <strong><mark>JOVEM PROGRAMADOR</mark></strong> é um <strong>PROGRAMA</strong> de capacitação tecnológica para formação de jovens a partir de 16 anos para atuar em empresas
    do Estado de Santa Catarina, independentemente do local onde estejam instaladas.
    <br><br>
    O curso permite que jovens possam se capacitar em Tecnologia da Informação através do parceiro de ensino,
    o Senac SC - Serviço Nacional de Aprendizagem Comercial - que dispõe de ampla experiência na área de formação e capacitação de
    profissionais e disponibilizará as instalações em aproximadamente 20 municípios de Santa Catarina.
    <br><br>
    Os jovens contam com toda infraestrutura técnica e aulas de forma híbrida - online e presencial.

    A empregabilidade é o foco do PROGRAMA, que não mede esforços para gerar aos alunos a oportunidade de conseguir uma boa colocação
    no mercado de trabalho, especialmente nas empresas patrocinadoras e parceiras. O objetivo é proporcionar aos alunos ensino de qualidade,
    com metodologia e desenvolvimento de habilidades alinhadas às reais necessidades do setor de tecnologia.
    <br><br>
    <strong><mark>Em 2023, o PROGRAMA se destina a jovens:</mark></strong>
    <br><br>
    Com idade mínima de 16 anos:
    <br>
    Escolaridade mínima: cursando o ensino médio
    Que residam nas cidades beneficiadas pelo programa ou em cidades vizinhas
    <br><br>
    O PROGRAMA é de iniciativa do SEPROSC (Sindicato das Empresas de Informática, Processamentos de Dados e Tecnologia da Informação do Estado de Santa Catarina) e realização do SENAC SC.
    <br><br>
    Para a edição de 2023, o Jovem Programador estará nas seguintes cidades catarinenses:
    <br><br>
    <strong>Araranguá, Blumenau, Brusque, Caçador, Chapecó, Concórdia, Criciúma, Florianópolis, Jaraguá do Sul, Joaçaba, Joinville, Lages, Palhoça, Rio do Sul, São Miguel do Oeste, Tubarão, Videira e Xanxerê.</strong>
    <br />
    
    TESTE
    *@




    <strong><mark>O programa Jovem Programador </mark></strong> é resultado de uma parceria entre o Senac/SC e o Sindicato das Empresas de Processamento de Dados do
    Estado de Santa Catarina (Seprosc) e foi criado com o objetivo de capacitar pessoas a partir dos 16 anos de idade para se tornarem programadores.
    <br> <br>

    Acreditamos que a tecnologia pode ser uma ferramenta poderosa para transformar vidas e mudar o mundo, e estamos comprometidos em ajudar a
    desenvolver a próxima geração de talentos na área de tecnologia.
    <br><br>

    O Jovem Programador oferece uma abordagem prática e orientada para o mercado de trabalho. De lógica de programação a desenvolvimento de software,
    nossos alunos são preparados para enfrentar os desafios do mercado.
    <br><br>

    Além disso, incentivamos os futuros programadores a desenvolverem habilidades interpessoais, como trabalho em equipe, liderança e comunicação
    eficaz, que são igualmente importantes no mundo corporativo.
    <br /><br>

    <strong>
        Se você quer se destacar no mercado de trabalho e desenvolver um carreira em TI, o Programa Jovem Programador é a escolha certa!
        Vamos juntos programar o futuro!
    </strong>
    <img /> src="https://blog.fecap.br/wp-content/uploads/Fecap-programador.jpg"
</p>
</html>


